@model IEnumerable<Color>
@foreach (var item in Model)
{
    <tr>
        <td> <span style="background-color:@item.HasCode; height:30px; width:30px; border-radius:100%;display:inline-block;"></span></td>
        <td styleaction="color:@item.HasCode;">@item.HasCode</td>
        <td>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                <i class="fa-solid fa-pen-nib"></i>Update
            </a>
            <a class="btn btn-info" asp-action="Detail" asp-route-id="@item.Id">
                <i class="fa-solid fa-info"></i>Info
            </a>
            <a class="btn btn-danger" onclick="removeColor(@item.Id,'@item.Name')">
                <i class="fa-solid fa-trash"></i>Delete
            </a>

        </td>
    </tr>
}